/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
  /* font-family: "Open Sans", sans-serif; */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-primary {
  color: #FD6E0A;
}
/* shared colour */
.seceary-background{
   background-color:#FFF8F3;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color:#181818; ;
}
.section-description{
    font-size: 20px;
    color: #757575;
}
.text-center{
    text-align: center;

}
/* header */
.header{
    background-image: url('../images/developer.png')
    , url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none; 
    font-size: 20px;
}
/* bannar-style */
.bannar-content{
  max-width: 580px;
}
.bannar{
    display: flex;
    justify-content: space-between;
    margin:0px 35px 0px 200px;
}
.bannar-greetings{

font-size: 45px;
font-weight: 600;
}
.bannar-title{
    font-size: 85px;
    font-weight: bold;
}
.bannar-picture{
    width: 580px;
}

/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
  
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about */
.about{
  border-radius: 10px;
  padding: 130px 150px; 
  text-align: center;
}
.item-description{
    font-weight: 600;

}
.about-items{
    display: flex;
    justify-content: space-around;
}

/* skills */
.skills-container{
    display: flex;
    gap: 24px;

}
.skill{
   padding: 30px;
   border-radius: 5px;
   box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}